.home-content .recent-sales-box {
  padding: 0rem;
  margin-left: 2rem;
}
.styled-table {
    width: 90%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #43ba7f;
  color: #ffffff;
  text-align: left;
}
.styled-table thead  .order_table{
  background-color: #0f52ba;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #43ba7f;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #43ba7f;
}
.edit{

    color: white;
    background-color: #43ba7f;
    border-color: #43ba7f;
    height: 6vh;
    box-shadow: inset;
    width: 4rem;
    border-radius: 0.3rem;
}

.delete{

    color: white;
    background-color: #c21e56;
    border-color: #c21e56;
    height: 6vh;
    box-shadow:inset;
    width: 4rem;
    border-radius: 0.3rem;
}